<head>
    <link rel="button" type="text/css" href="styles.css">
    
  </head>
<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="onClick">
<div class="form-group">
  <label for="username">Username<br></label>
  <input type="text" formControlName="username" />
  <div *ngIf="!validation">invalid user name!</div>
        </div>
 
  
  <div>
     
      
        <br>
    <label for="Senha">Password<br></label>
    <input type="password" formControlName="password" />
    <div *ngIf="!validation">invalid password!</div>
        
    </div>
    

    
      
      <button (click) = "onClick()" >OK</button>
      <a routerLink="/login" class="button">Go to login</a>
   
  
</form>

