
 <file-uploader></file-uploader>

<p>
  lista de usuarios
</p>
<ul>
    
  <li *ngFor="let x of users; index as j" >

      <friend [user] = "x"></friend>
     
  </li>
</ul>

    
    
<p>

    <p>
        lista de amigos
      </p>
      <ul>
          <button (click) = "reload()" >reload</button> 
        <li *ngFor="let y of friends">{{y.idFriends}}  
          
        </li>
      </ul>
      <p>

        <div>
          <button (click) = "get_image()" class="btn btn-primary">get image</button>
          <img [src]='convertImage()' />         
          

        </div>
