<head>
    <link rel="button" type="text/css" href="../src/styles.css">
    </head>

<h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onClick">
<div class="form-group">
  <label for="username">Username<br></label>
  <input type="text" formControlName="username" />
  <div *ngIf="!validation">invalid user name!</div>
 
  </div>
  <div>
     
      <div class="form-group"> 
        <br>
    <label for="password">Password<br></label>
    <input type="password" formControlName="password" />
    <div *ngIf="!validation">invalid password!</div>
    </div>
  </div>  

    <div class="form-group">
      <button (click) = "onClick()" class="button">OK</button>
      <a routerLink="/home"  class="button">home</a>
  </div>
</form>







